
<div class="flex flex-col m-5">
  <div>
    <%= form_with url: user_post_comments_create_path do |form| %>
    <div class="flex flex-col my-2">
      <%= form.label :text,"Add new comment", class: "font-bold" %> 
      <%= form.text_area :text, class: "h-40" %>
    </div>
    
    <%= form.submit "Create Comment", class: "p-3 rounded-full bg-emerald-200" %>
  <% end %>
  </div>
</div>


